  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p>To recieve an invitation, please provide your email address</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="invite" class="input-group">
        <input type="email" class="form-control" placeholder="Email Address" id="email">
        <span class="input-group-btn">
          <button id="submit" type="submit" class="btn btn-primary">Join</button>
        </span>
      </div>
      <div id="success"></div>
      <div id="error"></div>
    </div>
  </div>
