<div class="col-sm-2 related-item">
  <a href="{{url}}" class="related-link">
    <div class="caption">
      <div class="caption-content">
        <i class="fa fa-search-plus fa-3x"></i>
      </div>
    </div>
    <img src="{{img}}" class="img-responsive" alt="">
  </a>
</div>
